<div class="row">
  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/debit-card.svg" alt="" routerLink="/accounts"></button>
    </div>
    Računi
  </div>

  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float: left; margin-right: 0.5em; border: none; background: #9D9FAC "><img src="assets/img/pay.svg" alt="" routerLink="/transactions-create"></button>
    </div>
    Transakcije
  </div>
  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/saving.svg" alt=""></button>
    </div>
    Štednja
  </div>

  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/exchange.svg" alt=""></button>
    </div>
    Kripto Menjačnica
  </div>
  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/exchange-currency.svg" alt=""></button>
    </div>
    Menjačnica
  </div>

  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/qr-code.svg" alt=""></button>
    </div>
    IPS Skeniraj
  </div>
</div>
<div class="row">
  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/risk.svg" alt=""></button>
    </div>
    Kursna lista
  </div>

  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/support.svg" alt=""></button>
    </div>
    Podrška
  </div>
  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/question.svg" alt=""></button>
    </div>
    Česta pitanja
  </div>

  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/bank.svg" alt=""></button>
    </div>
    Filijale
  </div>
  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/atm.svg" alt=""></button>
    </div>
    Bankomati
  </div>

  <div class="col-lg-2 flex-item d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div class="row justify-content-center mt-3">
      <button class="btn btn-outline-dark btn-lg shadow" style="float:left;margin-right:0.5em;border:none; background: #9D9FAC"><img src="assets/img/percentage.svg" alt=""></button>
    </div>
    Kredit kalkulator
  </div>
</div>
