<nav>
    <a href="/home">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
    </a>
    <a href="/vets-table" class=active>
        <i class="material-icons">person</i>
        <span>Vets</span>
    </a>
    <a href="#">
        <i class="material-icons">pets</i>
        <span>Pets</span>
    </a>
    <a (click)="onLogout()">
        <i class="material-icons">error</i>
        <span>Log out</span>
    </a>
  </nav>
  <div id=body>
    <div id=content>Content</div>
  </div>