<div>
  <h1>Vaši računi</h1>
  </div>
<br />
<br />
<br />
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Broj računa</th>
      <th scope="col">Tip računa</th>
      <th scope="col">Stanje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>
        <a href="{{'transactions/'+account.id}}">{{account.number}}</a>
      </td>
      <td>{{account.type | accountType}}</td>
      <td>RSD {{account.amount}}</td>
    </tr>

  </tbody>
</table>
